# ===== Build =====
build/
out/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
compile_commands.json

# ===== Binaries =====
*.exe
*.out
*.app

# ===== macOS =====
.DS_Store
.AppleDouble
.LSOverride

# ===== Windows =====
Thumbs.db
ehthumbs.db
Desktop.ini

# ===== Linux =====
*~

# ===== IDEs =====
.idea/
.vscode/
*.code-workspace

# ===== Debug =====
*.log
*.tmp